In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('../input/titanic/train.csv')

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
target = df.Survived
data = df.drop(columns = 'Survived')

In [12]:
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=2022)

In [23]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 11), (179, 11), (712,), (179,))

In [24]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 660 to 220
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Pclass       712 non-null    int64
 2   Name         712 non-null    object
 3   Sex          712 non-null    object
 4   Age          571 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Ticket       712 non-null    object
 8   Fare         712 non-null    float64
 9   Cabin        165 non-null    object
 10  Embarked     711 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

In [27]:
y_train.value_counts()

0    435
1    277
Name: Survived, dtype: int64

In [29]:
y = y_train

In [30]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(X_train[features])
test = pd.get_dummies(X_test[features])

In [31]:
X.shape, test.shape

((712, 5), (179, 5))

In [32]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=200, max_depth=7, random_state=2022)
model.fit(X, y)
pred = model.predict(test)

In [33]:
model.score(X, y)

0.8230337078651685

In [34]:
output = pd.DataFrame({'Survived': pred})
output.head()

   Survived
0         0
1         0
2         1
3         0
4         0

In [35]:
output.to_csv('1234567.csv', index=False)

In [36]:
model.score(test, y_test)

0.7877094972067039